In [1]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [4]:
# extracting all tables in website
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [11]:
# finding tables in group stage
#Occurs after every 7 elements
#all_tables[12]
#all_tables[19]
#all_tables[26]
all_tables[61]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Portugal    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2        Ghana    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Uruguay    0  0  0  0   0   0   0    0                        NaN
3    4  South Korea    0  0  0  0   0   0   0    0                        NaN

In [16]:
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
for i in range(12,67,7): # 11 18 25
    print(i)
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
#     print(df)

In [17]:
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table = {}
for letter, i in zip(alphabet, range(12,68,7)): # A=11, B=18, ...
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [18]:
dict_table['Group D']

   Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     France    0  0  0  0   0   0   0    0
1    2  Australia    0  0  0  0   0   0   0    0
2    3    Denmark    0  0  0  0   0   0   0    0
3    4    Tunisia    0  0  0  0   0   0   0    0

In [20]:
# Upload (..verify if uploaded correctly)
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)

#